<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'schadule' %}">Schadule</a></li>
                <li><a href="{% url 'addadmin' %}">Make Account</a></li>
                <li><a href="{% url 'register-list' %}">Registration List</a></li>

                <!--<li><a href="{% url 'logpage' %}">Log In</a></li> -->
                <button class="btn" onclick="location.href='{% url 'logout' %}'">Log Out</button>


            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>Hazbin Hotel, always welcome ^_^&copy;2024</p>
    </footer>
</body>
</html>