{% extends "base.html" %}

{% block title %}Make Account{% endblock %}

{% block content %}
    <h1>Make Account</h1>
    <form>
        <label for="accountname">Account Name:</label>
        <input type="text" id="accountname" name="accountname"><br><br>
        <label for="accounttype">Account Type:</label>
        <select id="accounttype" name="accounttype">
            <option value="personal">Personal</option>
            <option value="business">Business</option>
        </select><br><br>
        <input type="submit" value="Make Account">
    </form>
{% endblock %}