{% extends "base.html" %}
{% load static %}

{% block title %}Log In{% endblock %}


{% block content %}
    <h1 class="red-header">Extra info about us</h1>

    <h2>Accommodations</h2>
    <ul>
        <li>
            <h3>Infernal Suites</h3>
            <p>Our luxurious suites come equipped with burning beds, screaming showers, and a personalized demonic butler to cater to your every whim.</p>
        </li>
        <li>
            <h3>Damned Deluxe Rooms</h3>
            <p>Our deluxe rooms offer a range of hellish amenities, including a complimentary bottle of brimstone, a screaming alarm clock, and a view of the lake of fire.</p>
        </li>
        <li>
            <h3>Pit of Despair Packages</h3>
            <p>Book a romantic evening in our pit of despair, complete with a candlelit dinner, a bottle of hellfire wine, and a personalized demonic serenade.</p>
        </li>
    </ul>

    <h2>Amenities</h2>
    <ul>
        <li>
            <h3>Sulfur Springs Spa</h3>
            <p>Unwind in our sulfur-infused hot springs, guaranteed to leave your skin feeling like it's been roasted in the depths of hell.</p>
        </li>
        <li>
            <h3>Fiery Fitness Center</h3>
            <p>Get a workout like no other in our state-of-the-art fitness center, equipped with hellish exercise equipment and a team of demonic personal trainers.</p>
        </li>
        <li>
            <h3>Hellish Hospitality</h3>
            <p>Our staff of demonic experts will make sure your stay is a living nightmare, from the moment you check-in to the moment you... well, try to check-out.</p>
        </li>
    </ul>

    <h2>Dining</h2>
    <ul>
        <li>
            <h3>The Burning Bistro</h3>
            <p>Savor the flavors of hell in our on-site restaurant, serving up a range of hellish delicacies, from burning burgers to screaming soups.</p>
        </li>
        <li>
            <h3>The Lake of Fire Lounge</h3>
            <p>Unwind with a drink in our lake of fire-themed lounge, complete with a view of the fiery abyss and a team of demonic mixologists.</p>
        </li>
    </ul>

    <h2>Activities</h2>
    <ul>
        <li>
            <h3>Hellish Tours</h3>
            <p>Take a guided tour of the underworld, complete with a visit to the river Styx, the gates of hell, and a meet-and-greet with the devil himself.</p>
        </li>
        <li>
            <h3>Demonic Entertainment</h3>
            <p>Enjoy a range of hellish entertainment options, from demonic karaoke to hellish comedy nights.</p>
        </li>
        <li>
            <h3>Soul-Selling Seminars</h3>
            <p>Learn the art of selling your soul from our team of experienced demonic experts.</p>
        </li>
    </ul>

    <h2>Packages</h2>
    <ul>
        <li>
            <h3>The Eternal Stay Package</h3>
            <p>Book a stay of 10 nights or more and receive a complimentary upgrade to our infernal suite, complete with a personalized demonic butler and a bottle of hellfire wine.</p>
        </li>
        <li>
            <h3>The Damned Delight Package</h3>
            <p>Book a stay of 5 nights or more and receive a complimentary dinner at The Burning Bistro, complete with a screaming dessert.</p>
        </li>
        <li>
            <h3>The Hellish Honeymoon Package</h3>
            <p>Book a romantic getaway and receive a complimentary pit of despair package, complete with a candlelit dinner and a personalized demonic serenade.</p>
        </li>
    </ul>

    <h2>Breaking News</h2>
    <p>Our hotel has been named the most hellish hotel in the underworld by the UnderWorld Times.</p>
        
    <img src="{% static 'images/info.jpg' %}" alt="info">

    


{% endblock %}


