{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="hotelroom">Hotel room:</label>
        <input type="text" id="hotelroom" name="hotel_room"><br><br>
        <label for="start-date-time">Start date, time:</label>
        <input type="datetime-local" id="start_datetime" name="start_datetime"><br><br>
        <label for="end-date-time">End date, time:</label>
        <input type="datetime-local" id="end_datetime" name="end_datetime"><br><br>
        <input type="submit" value="Register">
    </form>
{% endblock %}