body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #3081d2;
    background: white url('images/wallpaper.jpg');
}

header {
    background-color: #333;
    color: #d90000;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #30def5;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 70%; 
    margin-left: 250px;
}

h1 {
    color: #00FFFF;
}
p{
    color:#00FFFF;
}

th{
    color:#fb4848;
}

td{
    color:#ff3636
}

.right-align {
    float: right;
    list-style: none;
}
.red-header {
    color: #FF3737;
}

.room-images {
    float: left;
    margin: 20px;
}

.room-images img {
    width: 550px; 
    height: auto; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.btn {
    background-color: #007bff;
    color: #ffffff; 
    border: none;
    border-radius: 10px; 
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0069d9; 
  }